[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
httpx = "*"
httpx-oauth = {file = "https://github.com/vphpersson/httpx_oauth/tarball/master"}
pyutils = {file = "https://github.com/vphpersson/pyutils/tarball/master"}

[requires]
python_version = "3.8"
